<footer >
  <div class="container">
    
      <div class="part-1">
        <p>© all rights reserved 2020</p>
      </div>

      <div class="part-2">
        <ul>
        <li>  
          <a href="mailto:saramcdbarros@gmail.com" title="send me an e-mail" target="_blank"> 
            <img src="{{ site.baseurl }}/assets/img/homepage/icon-email.svg{{ include.image }}" alt="e-mail icon"/>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/saramcdbarros" title="visit my linkedin page" target="_blank">
            <img src="{{ site.baseurl }}/assets/img/homepage/icon-linkedin.svg{{ include.image }}" alt="linkedin icon"/>
          </a>
        </li>
        <li>
          <a href="https://www.behance.net/saramcdbarros" title="visit my behance page" target="_blank">
            <img src="{{ site.baseurl }}/assets/img/homepage/icon-behance.svg{{ include.image }}" alt="behance icon"/>
          </a>
        </li>
        </ul>
      </div>

  </div>
</footer>
