<header>
  <div class="container">

    <div class="part-1">
      <a href=/portfolio/ title="go to the homepage">  
        <img src="{{ site.baseurl }}/assets/img/homepage/sb.png{{ include.image }}" alt="letter S"/>
      </a>
    </div>
    <div class="part-2">
      <nav>
        <ul>
          {% for navlinks in site.data.samplelist.docs %}
          <li><a 

            style="{% if page.url == navlinks.url %}color:red;
            {% endif %}"

            href="{{site.baseurl}}/{{ navlinks.title }}">{{ navlinks.title }}</a></li>
        
        {% endfor %}
        </ul>
      </nav>
    </div>

  </div>
</header>

