h1 {
	font-family: $title-font-family;
	color: $background-color;
	font-weight: bold;
	font-size: 60px;
}

h2, h3, p, li {
	font-family: $base-font-family;
	color: $dark-color;
}
h2, h3 {
	font-weight: bold;
}
h2 {
	font-sie: 32px;
}
h3 {
	font-size: 28px;
	line-height: 40px;
}
p, li {
	font-weight: normal;
	font-size: 20px;
	line-weight: 28px;
	list-style-tpe: none;
}
ul {
	margin: 0;
	padding: 0;
}

.button {
	@include button;
	&:hover {
		background-color: $accent-color;
		color: $background-color;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
}

.description {
	li {
		color: $dark-color;
		font-weight: normal;
	}
}
.container {
	p, li {
		color: $background-color;
		font-weight: bold;
	}
}
.text a {
	color: $primary-color;
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.photos {
	position: relative;
	object-fit: cover;
	img {
		width: 100%;
		height: auto;
	}
}
.photos picture {
	position: absolute;
	animation: photos 25s infinite;
	opacity: 0;

}
@keyframes photos {
	25%{opacity:1;}
	40%{opacity:0;}
}
.photos picture:nth-child(1){animation-delay:0s;}
.photos picture:nth-child(2){animation-delay:5s;}
.photos picture:nth-child(3){animation-delay:10s;}
.photos picture:nth-child(4){animation-delay:15s;}
.photos picture:nth-child(5){animation-delay:20s;}

@include media-query($on-palm) {
	h1{
		font-size: 32px;
	}
}