---
layout: default
---
<section class="cover">
      <div class="title">
        <h1>Sara Barros<br>Product & Industrial<br>Designer</h1>
      </div>
    </section>

    <section class="intro">

      <h3>{{ content }}</h3>
      
      <a href="about page" class="button">Read more</a>
    </section>

    <section class="portfmenu">
    
    <div class="container">

      <div class="part-1">
          <div class="box">
            <img src="assets/img/homepage-1.png" alt="foldable helmet"/>
              <div class="overlay">
                <div class="text">
                  <h3><a href="work page-helmet">Foldable Helmet</a></h3>
                </div>
              </div>
            </div>
        </div>
        
        <div class="part-2">
            <div class="box"> 
            <img src="assets/img/homepage-2.png" alt="hortense vase"/>
              <div class="overlay">
                <div class="text">
                  <h3><a href="work page-hortense">Hortense</a></h3>
                </div>
              </div>
            </div>
        </div>
        
        <div class="part-1">
            <div class="box">
              <img src="assets/img/homepage-3.png" alt="fbaul redesign"/>
              <div class="overlay">
                <div class="text">
                  <h3><a href="work page-fbaul redesign">Fbaul’s website redesign</a></h3>
                </div>
              </div>
            </div>
        </div>
        
        <div class="part-2">
            <div class="box">
              <img src="assets/img/homepage-4.png" alt="wheelcessible">
              <div class="overlay"> 
                <div class="text">
                  <h3><a href="work page-wheelcessible">WheelCessible</a></h3>
                </div>
              </div>
            </div>
        </div>

      </div>
      </section>

</div>
