---
layout: default
---
<section class="cover">
    <div class="title">      
        <h1>Sara Barros<br>Product & Industrial<br>Designer</h1>
    </div>
</section>
<section class="intro">
    <h3>{{ content }}</h3>
    <a href="/portfolio/about/" class="button">READ MORE</a>
</section>
<section class="portfmenu">
    <div class="container">
        <h1>Recent work</h1>
          <div class="box">
            <picture>
              <source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/homepage/homepage-4.png{{ include.image }}">
              <img src="{{ site.baseurl }}/assets/img/homepage/homepage-405.png{{ include.image }}" alt="wheelcessible">
            </picture>
          <div class="overlay"> 
              <div class="text">
                  <h3><a href="/portfolio/projects/wheelcessible/">WheelCessible</a></h3>
                </div>
              </div>
          </div>
    </div>     
</section>