---
layout: default
---
<article class="post">

<section class="cover">
			<div class="title">
				<h1>My work</h1>
			</div>
		</section>

		<section class="intro">
			<h3>{{ content }}</h3>
			<a href="https://www.behance.net/saramcdbarros" title="visit my behance page" target="_blank" class="button">Behance</a>
		</section>

		<section class="portfmenu">
		   <div class="work">

			<article class="helmet">
				<h2>Foldable Helmet</h2>
				
				<div class="photos">
					<img src="assets/img/helmet-1.png" alt="slide 5"/>
					<img src="assets/img/helmet-2.png" alt="slide 4"/>
					<img src="assets/img/helmet-3.png" alt="slide 3"/>
					<img src="assets/img/helmet-4.png" alt="slide 2"/>
					<img src="assets/img/helmet-5.png" alt="slide 1"/>
				</div>

				<div class="description"> 
					<div class="part-1">
						<ul>
							<li>Industrial Design</li>
							<li>Individual projet</li>
							<li>2 months - 2017</li>
						</ul>
					</div>
					<div class="part-2">
						<p>Is a cycling helmet with the characteristic of being retractable reducing over half of it’s volume making it easer to store when not in use. The origami structure was the inspiration for this project and the original form was entirely adapted to the conventional form of helmet. All of it’s material are waterproof.</p>
					</div>
				</div>

			</article>

			
		  </div>
		</section>

</article>

