---
layout: default
---
<aricle>

<section class="cover">
			<div class="title">
				{% if page.title == "about" %}
				<h1>Hi, I'm Sara</h1>
				{% endif %}

				{% if page.title == "contact" %}
				<h1>Get in touch</h1>
				{% endif %}
				
			</div>
		</section>

		<section class="intro">
			<h3>{{ content }}</h3>
			
			{% if page.title == "about" %}
			<a href="assets/pdf/Curriculum Vitae_serif_en.pdf" target="_blank" class="button">See my CV</a>
			{% endif %}

			{% if page.title == "contact" %}
			<a href="mailto:saramcdbarros@gmail.com" title="send me an e-mail" target="_blank" class="button">Email me</a>
			{% endif %}
</section>

</aricle>