---
layout: page-work
title: "Hortense Vase"
---

<article class="hortense">
				<h2><a id="hortense">Hortense Vase</a></h2>
				
				<div class="photos">
					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-1.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-105.png{{ include.image }}" alt="slide 5"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-2.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-205.png{{ include.image }}" alt="slide 4"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-3.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-305.png{{ include.image }}" alt="slide 3"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-4.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-405.png{{ include.image }}" alt="slide 2"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-5.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-505.png{{ include.image }}" alt="slide 1"/>
					</picture>

					
				</div>
				
				<div class="description">
					<div class="part 1">
						<ul>
							<li>Industrial Design</li>
							<li>Group projet - Industrial designer</li>
							<li>2 months - 2019</li>
						</ul>
					</div>
					<div class="part 2">
						<p>{{ content }}</p>
					</div>
				</div>

</article>