---
layout: page-work
title: "WheelCessible"
permalink: /wheelcessible/
---

<article class="wheelcessible">
				<h2><a id="wheelcessible">WheelCessible</a></h2>
				
				<div class="photos">
					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/wheel/wheel-1.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/wheel/wheel-105.png{{ include.image }}" alt="final app pages"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/wheel/wheel-2.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/wheel/wheel-205.png{{ include.image }}" alt="cluster map"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/wheel/wheel-3.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/wheel/wheel-305.png{{ include.image }}" alt="the investigation"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/wheel/wheel-4.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/wheel/wheel-405.png{{ include.image }}" alt="brainstorm"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/wheel/wheel-5.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/wheel/wheel-505.png{{ include.image }}" alt="final layout of the app"/>
					</picture>

					
				</div>

				<div class="description">
					<div class="part1">
						<ul>
							<li>User Experience Design</li>
							<li>Group projet - Research & UX</li>
							<li>3 months - 2019</li>
						</ul>
					</div>
					<div class="part2">
						<p>{{ content }}</p>
					</div>
				</div>

</article>