---
layout: page-work
title: "Foldable Helmet"
permalink: /helmet/
---

<article class="helmet">
				<h2><a id="helmet">Foldable Helmet</a></h2>

				<div class="photos">
					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/helmet/helmet-1.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/helmet/helmet-105.png{{ include.image }}" alt="slide 5"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/helmet/helmet-2.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/helmet/helmet-205.png{{ include.image }}" alt="slide 4"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/helmet/helmet-3.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/helmet/helmet-305.png{{ include.image }}" alt="slide 3"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/helmet/helmet-4.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/helmet/helmet-405.png{{ include.image }}" alt="slide 2"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/helmet/helmet-5.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/helmet/helmet-505.png{{ include.image }}" alt="slide 1"/>
					</picture>
					
				</div>

				<div class="description"> 
					<div class="part1">
						<ul>
							<li>Industrial Design</li>
							<li>Individual projet</li>
							<li>2 months - 2017</li>
						</ul>
					</div>
					<div class="part2">
						<p>{{ content }}</p>
					</div>
				</div>

</article>