---
layout: page-work
title: "Hortense Vase"
permalink: /hortense/
---

<article class="hortense">
				<h2><a id="hortense">Hortense Vase</a></h2>
				
				<div class="photos">
					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-1.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-105.png{{ include.image }}" alt="the hortense vase"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-2.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-205.png{{ include.image }}" alt="the process"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-3.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-305.png{{ include.image }}" alt="the kit and instructions"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-4.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-405.png{{ include.image }}" alt="the sale stand"/>
					</picture>

					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/hortense/hortense-5.png{{ include.image }}">

						<img src="{{ site.baseurl }}/assets/img/hortense/hortense-505.png{{ include.image }}" alt="the project group"/>
					</picture>

					
				</div>
				
				<div class="description">
					<div class="part1">
						<ul>
							<li>Industrial Design</li>
							<li>Group projet - Industrial designer</li>
							<li>2 months - 2019</li>
						</ul>
					</div>
					<div class="part2">
						<p>{{ content }}</p>
					</div>
				</div>

</article>