---
layout: page-work
title: "Fbaul Redesign"
permalink: /redesign/
---
<article class="fbaul">
				<h2><a id="fbaul">Fbaul’s website redesign</a></h2>
				<div class="photos">					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/fbaul/redesign-1.png{{ include.image }}">
						<img src="{{ site.baseurl }}/assets/img/fbaul/redesign-105.png{{ include.image }}" alt="slide 5"/>
					</picture>					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/fbaul/redesign-2.png{{ include.image }}">
						<img src="{{ site.baseurl }}/assets/img/fbaul/redesign-205.png{{ include.image }}" alt="slide 4"/>
					</picture>					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/fbaul/redesign-3.png{{ include.image }}">
						<img src="{{ site.baseurl }}/assets/img/fbaul/redesign-305.png{{ include.image }}" alt="slide 3"/>
					</picture>					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/fbaul/redesign-4.png{{ include.image }}">
						<img src="{{ site.baseurl }}/assets/img/fbaul/redesign-405.png{{ include.image }}" alt="slide 2"/>
					</picture>					
					<picture>
						<source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/fbaul/redesign-5.png{{ include.image }}">
						<img src="{{ site.baseurl }}/assets/img/fbaul/redesign-505.png{{ include.image }}" alt="slide 1"/>
					</picture>
				</div>
				<div class="description">
					<div class="part1">
						<ul>
							<li>Product Design</li>
							<li>Group projet - Research & testing</li>
							<li>2 months - 2019</li>
						</ul>
					</div>
					<div class="part2">
						<p>{{ content }}</p>
					</div>
				</div>
</article>